/* Reset de los estilos por defecto del navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Aseguramos que el body tenga un margen adecuado y un fondo */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos generales para la aplicación */
  .App {
    text-align: center;
    padding: 20px;
  }
  
  /* Estilo de los títulos */
  h1, h2, h3 {
    font-family: 'Arial', sans-serif;
  }
  
  /* Estilo para los botones */
  button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para los enlaces */
  a {
    color: #007BFF;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Estilo de las listas */
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  /* Diseño responsivo */
  @media (max-width: 768px) {
    body {
      font-size: 14px;
    }
  
    .App {
      padding: 10px;
    }
  }
  